{% extends "base.html" %}
{% block title %}
    About project
{% endblock title %}

{% block style %}
    <style>
        .rtl {
            margin: 23px;
            padding: 23px;
            font-size: 22px;
            unicode-bidi: bidi-override;
            direction: unset;
            text-align:right;
        }
        .title {
            margin-bottom: 23px;
            padding-top: 2px;
        }
        .info {
            padding: 23px;
        }
        a {
            color: rgb(31, 73, 163);
        }
        a:hover {
            color: rgb(22, 57, 133);
        }
    </style>
{% endblock style %}

{% block content %}

<div class="rtl">

    <div class="container">
        <h3 class="title">وصف المشروع</h3>
        <div class="border border-info info">
            <p>
                هذا المشروع الخاص بكورس جانقو 101 في <a target="_blank" href="https://satr.codes">منصة سطر</a>
                <br>
                تستطيع في هذا الموقع تسجيل الدخول والخروج وتعديل بياناتك الشخصية
                وتحديث كلمة المرور الخاصة بك ومسح الحساب الخاص بك ويمكنك اضافة كورسات في الموقع ويتم اظهارها في الصفحة الشخصية الخاصة بك
                <br>
                يمكنك اجاد السورس كود في <a target="_blank" href="https://github.com/theAwiteb/django101Project">صفحة المشروع</a> على <a target="_blank" href="https://github.com">جيت هب</a>
            </p>
        </div>
    </div>

</div>

{% endblock content %}